body{
    margin: 0;
    background-color: rgb(15, 15, 15);
    color: rgb(255, 255, 255);
    font-family: 'Jura', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.digit{
    font-size: 10rem;
    margin: 10px;
    cursor: pointer;
}

.btn{
    padding: 7px 25px;
    font-size: 15px;
    margin: 0px 10px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: 0px;
    border-radius: 5px;
    width: 25%;
    padding: 3%;
}

#start{
    background-color: rgb(25, 170, 206);
}

#stop{
    background-color: rgb(99, 69, 231);
    display: none;
}
#reset{
    background-color: rgb(240, 0, 120);
    display: none;
}

#count{
    font-size: 63px;
}

#btn-container{
    margin-top: 37px;
}
